// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  // min-width: 1800px;

  >centerbox {
    background: rgba($color: #ffffff, $alpha: 0.9);
    border-radius: 6px;
    min-height: 10px;
    border: 1px solid rgba($color: #ffffff, $alpha: 1);
    padding: 2px;
    margin: 8px
  }
}
