// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  all: unset;
  // background: transparentize($color: #000000, $amount: 1);
  color: $fg-color;
  font-weight: 600;
  font-family: 'SF Pro Display';
  // min-width: 1800px;
  margin: 8px;

  >centerbox {
    background: rgba($color: #eeeeee, $alpha: 0.85);
    border-radius: 6px;
    min-height: 10px;
    border: 2px solid rgba($color: #ffffff, $alpha: 1);
    padding: 2px;

    >time {
      text-shadow: 0px 2px 4px #666666;
    }
  }
}
